html {
    padding-left:15%;
    padding-right:15%;
    padding-top:5%;
    padding-bottom:5%;
}

body {
    background:ivory;
    font-family:'Droid Serif'
}

h1 {
    font-family: 'Droid Sans'
}

h2 {
    font-family: 'Droid Sans'
}

h3 {
    font-family: 'Droid Sans'
}

h4 {
    font-family: 'Droid Sans'
}
